.display-1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    color: #22223B;
}

h4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    opacity: 60%;
    font-weight: 500;
    color: #22223B;
}

.contact {
    text-align: right;
}

a:link,
a:visited {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-decoration: none;
    font-size: 14pt;
    font-weight: 600;
    color: #70A2FA;
    opacity: 70%;
    padding: 15px 25px;
}

a:hover,
a:active {
    opacity: 100%;
}

/*Copyright*/

.copyright {
    grid-area: footer;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

p.copyright {
    color: black;
    font-size: 8pt;
    font-weight: 400;
}

a:link.copyright,
a:visited.copyright {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-decoration: none;
    font-size: 45pt;
    font-weight: 600;
    color: #030f24;
    opacity: 70%;
    padding: 15px 25px;
}

a:hover.copyright,
a:active.copyright {
    opacity: 100%;
}

/*Paddings*/
.padding-25 {
    padding-top: 25px;
}

.padding-50 {
    padding-top: 50px;
}

.padding-100 {
    padding-top: 100px;
}