<footer class="space-y-4 py-4 text-center items-center mx-auto mt-12">
	<div class="font-semibold text-xs text-slate-700">
		Created with ❤️ in Estonia {% if site.your_link %} by <a class="text-dark-accent" href="{{ site.your_link }}">Chipp Studio</a>{% endif %}
	</div>

	<div class="space-x-4">
		{% for page in site.pages %}
			{% if page.include_in_footer == true %}
				<a class="text-xs font-bold text-slate-700 hover:text-slate-400 hover:underline" href="{{ page.url | relative_url }}" target="_self">
					{{ page.title }}
				</a>
			{% endif %}
		{% endfor %}
		{% if site.presskit_download_link %}
		<a href="{{ site.presskit_download_link }}">Press Kit</a>
		{% endif %}
	</div>
</footer>