<!-- Smart App Banner -->
{% if site.enable_smart_app_banner %}
<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
{% endif %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/style.css' | relative_url }}">

<!-- Google Tag Manager -->

<!-- End Google Tag Manager -->

<!-- Google Analytics -->

<!-- Meta Pixel Code -->

<!-- End Meta Pixel Code -->