<div class="md:container md:mx-auto px-4">
    <div class="md:pt-20 flex">
        <div>
            <img class="w-24 h-24" src="{{site.baseurl}}/images/me_avatar.png" alt="...">
        </div>
        <div class="pl-12">
            <div class="text-xl">
                <b>Hello There!</b> <br> I'm Konstantin, in last decade, crafting apps <br>and help others to do the same
            </div>

            <div class="pt-3 text-slate-500">
                <ul class="list-none">
                    <li>iOS and macOS indie developer</li>
                    <li>part time product designer</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="md:pt-28">
        <div class="text-5xl font-semibold text-slate-900">
            Chipp Studio
        </div>
        <div class="text-lg text-slate-500">
            by Konstantin Tšisjakov
        </div>
    </div>
</div>